github "ReactiveX/RxSwift"
github "ibireme/YYCache"
github "freshOS/Arrow"
github "yannickl/DynamicColor"
github "Ramotion/preview-transition"
github "SwiftyJSON/SwiftyJSON"
github "devxoul/Then"
github "SnapKit/SnapKit"
github "Alamofire/Alamofire"
